<nav class="navbar">
    <div class="navbar-title">
        <h1 class="h1">Jenmay</h1>
        <p class="slogan">Your slogan here</p>
    </div>

    <ul class="navbar-ul">
        <li class="navbar-ul-li"><a href="/">Home</a></li>
        <li class="navbar-ul-li"><a href="/products">Products</a></li>
        <li class="navbar-ul-li"><a href="/contact">Contact Us</a></li>
    </ul>
    <button class="navbarIcon" type="button"><i class="fas fa-bars"></i></button>
</nav>

<div class="hiddenMenu">
    
    <ul class="hiddenMenu-ul">
        <button class="hiddenMenu-ulIcon" type="button"><i class="fas fa-bars"></i></button>
        <li class="hiddenMenu-ul-li"><a href="/">Home</a></li>
        <li class="hiddenMenu-ul-li"><a href="/products">Products</a></li>
        <li class="hiddenMenu-ul-li"><a href="/contact">Contact Us</a></li>
    </ul>
</div>