* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  background-color: #0a5700;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.navbar-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #0a5700;
  height: 100%;
  width: 20%;
  min-width: 170px;
  background-color: #ffaf19;
}

.navbar-title h1 {
  font-size: 35px;
  letter-spacing: 3px;
}

.navbar-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 100px;
  font-size: 20px;
  font-weight: 400;
  list-style: none;
}

.navbar-ul-li {
  width: 150px;
}

.navbar-ul-li a {
  text-decoration: none;
  color: #ffaf19;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.navbar-ul-li a:hover {
  font-size: 22px;
}

.navbarIcon {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  color: #ffaf19;
  margin-right: 30px;
}

.hiddenMenu {
  position: fixed;
  right: 0;
  background-color: #0a5700;
  height: 100%;
  width: 0%;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hiddenMenu-ul {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-align: center;
}

.hiddenMenu-ulIcon {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  font-size: 26px;
  color: #ffaf19;
  margin: 30px;
}

.hiddenMenu-ul-li {
  width: 0;
  display: block;
  height: 50px;
}

.hiddenMenu-ul-li a {
  text-decoration: none;
  color: #ffaf19;
  font-size: 30px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.hiddenMenu-ul-li a:hover {
  font-size: 32px;
}

@media (max-width: 600px) {
  .navbar .h1 {
    font-size: 26px;
  }
  .navbar .slogan {
    font-size: 16px;
  }
  .navbar .navbar-ul {
    display: none;
  }
  .navbar .navbarIcon {
    display: inline-block;
  }
}

.line {
  color: #ffaf19;
}

.showcase {
  background-image: url("/img/chicken l.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.showcaseText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(73, 112, 2, 0.5)), to(rgba(73, 112, 2, 0)));
  background-image: linear-gradient(to right, rgba(73, 112, 2, 0.5), rgba(73, 112, 2, 0));
}

.showcaseTexth2 {
  font-size: 70px;
  -webkit-animation: fadeIn 0.7s ease-in;
          animation: fadeIn 0.7s ease-in;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.showcaseAbout {
  height: 80vh;
  background-color: #f3ffe4;
}

.showcaseAboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 60%;
  margin: auto;
}

.showcaseAboutContainerText {
  width: 40%;
}

.showcaseAboutContainerText h3 {
  letter-spacing: 2px;
  padding: 20px 0;
  font-size: 26px;
  color: #0a5700;
}

.showcaseAboutContainerText p {
  margin: 20px 0;
  text-align: justify;
  font-weight: 200;
  font-size: 18px;
}

.showcaseAboutContainer img {
  max-width: 400px;
}

.showcaseProduct {
  height: 80vh;
  background-color: #dedfb8;
}

.showcaseProductContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80%;
  margin: auto;
}

.showcaseProductContent h3 {
  letter-spacing: 2px;
  padding: 20px 0;
  font-size: 26px;
  color: #0a5700;
}

.showcaseProductContent .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcaseProductContent .carouselItem {
  display: none;
}

.showcaseProductContent .carousel img {
  max-width: 300px;
}

.network {
  height: 100vh;
  background-color: #0a5700;
}

.networkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 60%;
  margin: auto;
}

.networkContainer h3 {
  letter-spacing: 2px;
  padding: 20px 0;
  font-size: 26px;
  color: #f3ffe4;
}

.networkContainer .countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
  color: #ffaf19;
  width: 100%;
  font-size: 20px;
}

.networkContainer img {
  width: 100%;
  max-width: 900px;
}

.contact {
  height: 70vh;
  background-color: #f3ffe4;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactContainer img {
  max-width: 500px;
  image-orientation: from-image;
}

.contactContainer .contactBox {
  width: 40%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer {
  height: 20vh;
  background-color: #f3ffe4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

@media (max-width: 600px) {
  .showcase .showcaseText {
    text-align: center;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(73, 112, 2, 0.5)), to(rgba(73, 112, 2, 0.1)));
    background-image: linear-gradient(to top, rgba(73, 112, 2, 0.5), rgba(73, 112, 2, 0.1));
  }
  .showcase .showcaseText .showcaseTexth2 {
    width: 80%;
    font-size: 60px;
  }
  .showcaseAbout {
    height: 100vh;
  }
  .showcaseAbout .showcaseAboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 50px 0;
    width: 80%;
    text-align: center;
  }
  .showcaseAbout .showcaseAboutContainer .showcaseAboutContainerText {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .showcaseAbout .showcaseAboutContainer .showcaseAboutContainerText h3 {
    padding: 0;
  }
  .showcaseAbout .showcaseAboutContainer .showcaseAboutContainerText p {
    margin: 10px 0;
  }
  .network {
    height: 60vh;
  }
  .network .networkContainer {
    width: 80%;
  }
  .network .networkContainer .countries span {
    padding: 10px;
  }
  .network .networkContainer img {
    display: none;
  }
  .contact {
    height: 90vh;
  }
  .contact .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact .contactContainer img {
    width: 100%;
  }
  .contact .contactContainer .contactBox {
    text-align: center;
    width: 100%;
    height: 40%;
  }
}
/*# sourceMappingURL=style.css.map */