
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
$primary-color: rgb(10, 87, 0);
$secondary-color: rgb(255, 175, 25);
$tertiary-color: rgb(222, 223, 184);
$light-color: rgb(243, 255, 228);



@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}
@import './navbar';

.line{
    color: $secondary-color;
}
.showcase{
    background-image: url('/img/chicken\ l.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    &Text{
        @include flexCenter();
        height: 100%;
        width: 100%;
        color: white;
        background-image: linear-gradient(to right, rgba(73, 112, 2,0.5), rgba(73, 112, 2,0));
        
        &h2{
            font-size: 70px;
            animation: fadeIn 0.7s ease-in;
            text-shadow: 5px 5px 5px rgba(0,0,0,0.4);
        }
        
    }
}

.showcaseAbout{
    height: 80vh;
    background-color: $light-color;
    &Container{
        @include flexCenter();
        justify-content: space-between;
        height: 100%;
        width: 60%;
        margin: auto;
        &Text{
            width: 40%;
            
            h3{
                letter-spacing: 2px;
                padding: 20px 0;
                font-size: 26px;
                color: $primary-color;
            }
            p{
                margin: 20px 0;
                text-align: justify;
                font-weight: 200;
                font-size: 18px;
            }
        }
        img{
            max-width: 400px;
        }
    }
    
}

@import './showcaseProduct';

.network{
    
    height: 100vh;
    background-color: $primary-color;
    &Container{
        @include flexCenter();
        flex-direction: column;
        height: 100%;
        width: 60%;
        margin: auto;
        h3{
            letter-spacing: 2px;
            padding: 20px 0;
            font-size: 26px;
            color: $light-color;
        }
        .countries{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 20px 0;
            color: $secondary-color;
            width: 100%;
            font-size: 20px;
        }
        img{
            width: 100%;
            max-width: 900px;
        } 
    }
    
}

.contact{
    height: 70vh;
    background-color: $light-color;
    &Container{
        @include flexCenter();
        height: 100%;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        img{
            max-width: 500px;
            image-orientation: from-image;
        }
        .contactBox{
            width: 40%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
    }
}

footer{
    height: 20vh;
    background-color: $light-color;
    @include flexCenter();
    font-size: 14px;
}
@import './mediaQuery';