<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/contact.min.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <img class="window" src="/img/pexels-pixabay-247597.jpg" alt="">
    <div class="window-frame"></div>

    <main>
        <div class="container">
            <header>
                <h2>For any Inquiries, Feel Free to Contact Us</h2>
            </header>
            <section class="contact">
                <p class="address">Lobby Level Sunway Resort, Persiaran Lagoon, Bandar Sunway, 47500 Subang Jaya, Selangor</p>
                <p class="tel">Tel: +60132549655</p>
                <p class="email">Email: jenmay@jenmay.com</p>
            </section>
        </div>
        
    </main>
    <footer>
        Copyright 2022 by Jenmay Sdn Bhd
    </footer>

    <script src="/js/contact.js"></script>
</body>
</html>