<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

    <section class="showcase">
        <div class="showcaseText">
            <h2 class="showcaseTexth2">Worldwide Food Supply Chain</h2>
        </div>
        
    </section>

    <section class="showcaseAbout">
        <div class="showcaseAboutContainer">
            <div class="showcaseAboutContainerText">
                <h3>Suppor Sustainable Farming</h3>
                <p class='line'>________</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolore corrupti laudantium eaque repellat obcaecati fuga, unde sed! Sequi, voluptates rerum? Vel ullam quas animi culpa quis iste ipsa quisquam!</p>
                
            </div>
            <img src="/img/coconut.png" alt="">  
        </div>
        
    </section>

    <section class="showcaseProduct">
        <div class="showcaseProductContent">
            <h3>Our Products</h3>
            <p class='line'>________</p>
            <div class="owl-carousel">
                
                <div class="items">
                    <img id="p1" src="/img/p1.jpg" alt="">
                    <p>Poultry</p>
                </div>
                <div class="items">
                    <img id="p2" src="/img/p2.jpg" alt="">
                    <p>Sugar</p>
                </div>
                <div class="items">
                    <img id="p3" src="/img/p3.jpg" alt="">
                    <p>Coconuts</p>
                </div>
            
                <div class="items">
                    <img id="p4" src="/img/p4.jpg" alt="">
                    <p>Rice</p>
                </div>
                <div class="items">
                    <img id="p5" src="/img/p5.jpg" alt="">
                    <p>Soy Bean</p>
                </div>
                
            </div>
            
        </div>
    </section>

    <section class="network">
        <div class="networkContainer">
            <h3>Our Network</h3>
            <div class="countries">
                <span>United States</span>
                <span>China</span>
                <span>Brazil</span>
                <span>Thailand</span>
                <span>Malaysia</span>
                <span>Singapore</span>
                <span>Indonesia</span>
            </div>
            <img src="/img/MapChart_Map.png" alt="">
        </div>
        
    </section>

    <section class="contact">
        <div class="contactContainer">
            <img src="./img/rice.jpg" alt="">
            <div class="contactBox">
                <h3>Contact Us</h3>
                <p class='line'>________</p>
                <p class="address">Lobby Level Sunway Resort, Persiaran Lagoon, Bandar Sunway, 47500 Subang Jaya, Selangor</p>
                <p class="tel">Tel: +60132549655</p>
                <p class="email">Email: jenmay@jenmay.com</p>
            </div>
        </div>
    </section>

    <footer>
        Copyright 2022 by Jenmay Sdn Bhd
    </footer>

    
    <%- include('./partials/scripts.ejs') %>
</body>
</html>