<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/css/products.min.css">
        <title>Jenmay SDN BHD</title>
    </head>
<body>
    <%- include('./partials/navbar.ejs') %>

    <main>
        <header class="header">
            <h1>Our Products</h1>
            <p>Fast and effective sourcing</p>
        </header>
        <div class="productsContainer">
            <section class="product-type-container">
                <h3>Poultry</h3>
                <div class="card-container">
                    <div class="card">
                        <div class="img-container">
                            <img src="/img/p1.jpg" alt="">
                        </div>
                        
                        <p>Chicken Wings</p>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="/img/p1.jpg" alt="">
                        </div>
                        
                        <p>Chicken Feet</p>
                    </div>
                </div>
                
            </section>
            <section class="product-type-container">
                <h3>Dry Products</h3>
                <div class="card-container">
                    <div class="card">
                        <div class="img-container">
                            <img src="/img/p4.jpg" alt="">
                        </div>
                        <p>Rice</p>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="/img/p5.jpg" alt="">
                        </div>
                        
                        <p>Soybean</p>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="/img/p2.jpg" alt="">
                        </div>
                        
                        <p>Sugar</p>
                    </div>
                </div>
                
            </section>
            <section class="product-type-container">
                <h3>Fruits</h3>
                <div class="card-container">
                    <div class="card">
                        <div class="img-container">
                            <img src="/img/p3.jpg" alt="">
                        </div>
                        
                        <p>Coconuts</p>
                    </div>
                </div>
                
            </section>
        </div>
    </main>

    <footer>
        Copyright 2022 by Jenmay Sdn Bhd
    </footer>
    
    <script src="/js/products.js"></script>
</body>
</html>